/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-nov-2017, 12:14:02
    Author     : susana
*/

body{
    background-color: palevioletred;
}

article{
    font-family: cursive;
    font-size: x-large;
    color: yellowgreen;
    text-align: center;
    padding-top: 15%;
}

footer{
    padding-top: 15%;
}