/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-nov-2017, 11:42:17
    Author     : susana
*/

body{
    background-color:bisque ;
    font-size:25px ;
    font-family:sans-serif ;
    color: darksalmon;
}