/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 19:09:40
    Author     : Gonza
*/

body{

    background-color:rgb(211,211,211);
    text-align: justify;

}

h1{

    color:#ffffcc;
    background-color: rgb(0,0,128);
    text-align: center;

}

h2{
    
    background-color: rgb(173,216,230);
    color:#000088;
    border:double #000088 0.2em;
    text-align: center;
    padding:10px;
     
}

h3{
    
    border-bottom: solid blue 1px;
    color:#000088;
    margin-right: 5px;
}

.lateral{

    float: left;
    width: 20%;
    background-color: rgb(0,0,128);
    color:yellow;
}

.lateral ul{
    
    padding-right: 15px;
    text-align: left
}

.lateral a{

    color:white;
    text-decoration:none;

}

.tablaContenido a{

    color:blue;
    text-decoration:none;

}

.central{
    
    float: right;
    width:79%; 
}

.aviso{

    border: double 5px red;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    background-color:rgb(224,255,255);
}
.tituloaviso{
    font-weight: bold;
    font:Sans-serif;    
    font-size:2em;    
}
.cuerpoaviso{

    font:serif;
}

.logo{

    background-color: white;
    text-align: center;
    padding: 6px;
}

.pie{

    background-color: rgb(0,0,128);
    text-align: right;
    color:yellow;
    clear:both;
}

.salidapantalla{
    
    background-color: black;
    color:green;
    border: double yellow;
    margin:8px;
    padding:20px;
}

.bloqueexplicacion{
    
    background-color: #ccffff;
    padding:5px;
    
}
.tablaContenido{
    background-color: white;
    float:right;
    border:dashed blue 5px;
    color:black; 
    margin:10px;
    padding:5px;
}

.cuaderno{
    
    background-color: rgb(255,255,224);
    padding:20px;
}

.codigo{
    
    background-color:#3399ff;
    color:white;
    border:double blue;
    
}

.figura{
    
    border:solid #000088 2px;
    text-align: center;
    background-color:white;
    padding:15px;
    margin-top:15px;
}

.identificadorPro{
    
    border:solid 2px blue;
    background-color: yellow;
}

.identificadorEje{
    
    border:solid 2px blue;
    background-color: #ff9933
}

.identificadorExp{
    
    border:solid 2px blue;
    background-color: #00ff99
}

.bloqueexplicacion a {
    
    text-decoration: none;
    color:red;
}

dt{
    
    font-weight: bold;
}

.bloqueexplicacion ol, .bloqueexplicacion ul {
    background-color: white;
    border:dashed blue 2px;
    padding-left:30px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    margin:10px;
    
}

.bloqueexplicacion dd{
    
    border:dotted blue 3px;
    background-color:#ffcccc;
    padding:10px;
    margin: 5px;
}

.bloqueexplicacion ol ol, .bloqueexplicacion ul ul {
    
    border:none;
    
}
.bloqueexplicacion dd ul{
    
    border:none;
    background-color:#ffcccc;
}