/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2017, 19:09:40
    Author     : Gonza
*/

/*todo el contenido del documento*/
body{
    background-color:rgb(211,211,211);
    text-align: justify;
}

/*títulos*/
h1{
    color:#ffffcc;
    background-color: rgb(0,0,128);
    text-align: center;
}

h2{
    background-color: rgb(173,216,230);
    color:#000088;
    border:double #000088 0.2em;
    text-align: center;
    padding:10px;
     
}

h3{
    border-bottom: solid blue 1px;
    color:#000088;
    margin-right: 5px;
}

h4{
    color:#000088;
}

/*clase que será el lateral izquierdo de la pantalla*/
.lateral{
    float: left;
    width: 20%;
    background-color: rgb(0,0,128);
    color:yellow;
}
/*lista desordenada dentro del panel lateral*/
.lateral ul{
    padding-right: 15px;
    text-align: left
}

/*enlaces dentro del panel lateral*/
.lateral a{
    color:white;
    text-decoration:none;
}
/*enlaces dentro la tabla de contenido situada a la derecha*/
.tablaContenido a{
    color:blue;
    text-decoration:none;
}

/*parte central de la página*/
.central{
    float: right;
    width:79%; 
}
/*Clase encargada de mostrar el título de página en construcción*/
.aviso{
    border: double 5px red;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    background-color:rgb(224,255,255);
}
/*Clase encargada de mostrar el título de página en construcción*/
.tituloaviso{
    font-weight: bold;
    font:Sans-serif;    
    font-size:2em;    
}
/*Clase encargada de mostrar el título de página en construcción*/
.cuerpoaviso{

    font:serif;
}
/*logo del panel lateral izquierdo*/
.logo{

    background-color: white;
    text-align: center;
    padding: 6px;
}
/*pie de página*/
.pie{

    background-color: rgb(0,0,128);
    text-align: right;
    color:yellow;
    clear:both;
}

/*salida por pantalla de un programa en la página s1.html*/
.salidapantalla{
    
    background-color: black;
    color:green;
    border: double yellow;
    margin:8px;
    padding:20px;
}

/*clase dónde va incluido las diferentes partes del cuaderno*/
.bloqueexplicacion{
    
    background-color: #ccffff;
    padding:5px;
    
}
/*tabla de contenido en el panel lateral derecho*/
.tablaContenido{
    background-color: white;
    float:right;
    border:dashed blue 5px;
    color:black; 
    margin:10px;
    padding:5px;
}

/*parte central compuesto de varias clases bloqueexplicacion*/
.cuaderno{
    
    background-color: rgb(255,255,224);
    padding:20px;
}

/*Parte del código en azul*/
.codigo{
    
    background-color:#3399ff;
    color:white;
    border:double blue;
    padding:5px 5px 5px 15px;
    
}

/*imagen y pie de imagen*/
.figura{
    
    border:solid #000088 2px;
    text-align: center;
    background-color:white;
    padding:15px;
    margin-top:15px;
}
/*identificador de problemas*/
.identificadorPro{
    
    border:solid 2px blue;
    background-color: yellow;
}
/*identificador de ejercicios*/
.identificadorEje{
    
    border:solid 2px blue;
    background-color: #ff9933
}
/*identificador de experimentos*/
.identificadorExp{
    
    border:solid 2px blue;
    background-color: #00ff99
}

/*enlaces dentro de la clase bloqueexplicacion*/
.bloqueexplicacion a {
    
    text-decoration: none;
    color:red;
}

/*etiquetas dt*/
dt{
    
    font-weight: bold;
}

/*afecta a todas listas ordenadas y no ordenadas dentro de la clase bloqueexplicacion*/
.bloqueexplicacion ol, .bloqueexplicacion ul {
    background-color: white;
    border:dashed blue 2px;
    padding-left:30px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    margin:10px;
    
}

/*lista que está dentro del apartado nº4*/
.bloqueexplicacion dd{
    
    border:dotted blue 2px;
    background-color:#ffcccc;
    padding:10px;
    margin: 5px;
}

/*afecta a todas listas ordenadas dentro de listas ordenadas y no ordenadas dentro de las no ordenadas dentro de la clase bloqueexplicacion*/
.bloqueexplicacion ol ol, .bloqueexplicacion ul ul {
    
    border:none;
    
}
/*A las listas desdordanadas dentro de la etiqueta dd, les quitamos el borde y cambiamos el color*/
.bloqueexplicacion dd ul{
    
    border:none;
    background-color:#ffcccc;
}