/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-oct-2017, 12:58:12
    Author     : juanantoniolopezcano
*/
/*
body{
    margin: 0;
}

header{
    background: #A52A2A;
    padding-top: 1px;
    text-align: left;
}
article{
    width: 40%;
}

aside{
    width: 20%;
}
main:after{
    content: "";
    display: table;
    clear: both;

}
footer{
    background: #A52A2A;
    padding: 10px;
}
*/

body{
    margin: 0;
    display: inline-block;

}
header{
    width: auto;
    background: #A52A2A;
    padding-top: 1px;
    padding-bottom: 1px;
}

figure{
    float: left;
}

h1{
    color: white;
    padding: 1px;
    font-size: 3em;
    font-family: monospace;
}

nav {
    width: 100%;
    background: #A52A2A;
    display: block;
    color: white;
    padding-top: 2ex;
    padding-bottom: 2ex;
    font-family: monospace;
    font-size: 1.1em;
}
.a_nav{
    color: white;
    font-size: 1.3em;
    margin: 0.5em;
    padding-left: 0.7em;
    text-decoration: none;
}

article{
    width: 70%;
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

aside{
    width: 20%;
    float:right;
    padding:0.5em;
}
.h2_aside{
    color: #800000;
    text-align: center;
    font-size: 2em;
    font-family: monospace;
    text-decoration: none;
}
ul{
    list-style-type:  square;
    color: #800000;
}

.li_aside{
    text-align:justify;
    margin: 1em;
    font-size: 1.3em;
    font-family: monospace;
}

.a_aside{
    color: #A52A2A;
    text-decoration: none;
}

footer{
    width: auto;
    background: #A52A2A;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    header,article,aside  {
        width: 100%;
    }
}