/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-oct-2017, 12:58:12
    Author     : juanantoniolopezcano
*/

body{
    margin: 0;
}

header{
    width: 100%;
    background: #A52A2A;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

header figure{
    float: left;
}

h1{
    color: white;
    padding: 1%;
    font-size: 290%;
    font-family: monospace;
}

nav {
    width: 100%;
}

ul.nav_responsive {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A52A2A;
}

ul.nav_responsive li {float: left;}

ul.nav_responsive li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 150%;
}

ul.nav_responsive li a:hover:not(.active) {
    background-color: white;
    color: #A52A2A;

}

@media screen and (max-width: 600px){
    ul.nav_responsive, ul.nav_responsive li {float: none;}
}


article {
    width: 75%;
    float: left;
    padding: 1%;
}

h2{
    font-size: 200%;
    font-family: monospace;
    color: #800000;
}

h3{
    font-size: 150%;
    font-family: monospace;
    color: #800000;
}

article p{
    font-size: 100%;
    font-family: monospace;
    text-align: justify;
}

hr{
    border-bottom-style: solid;

    color: #800000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 1%;
}

th {
    background-color: #A52A2A;
    color: white;
}

table a{
    color: black;
    text-decoration: none;
}

table  a:hover:not(.active) {
    color: blue;
}

table th a{
    color: white;
    text-decoration: none;
}
table th a:hover:not(.active) {
    color: blue;
}

.opinion{
    font-family: monospace;
}

.opinion a{
    text-decoration: none;
    color: black;
}
.opinion a:hover:not(.active){
    color: blue;
}

meter{
    width: 60%;
    height: 3em;
    padding-left:27%;
    
}

video{
   padding-left:27%;
}

aside {
    width: 20%;
    float:right;
    padding:0.5%;
}

.h2_aside{
    color: #800000;
    text-align: center;
    font-size: 200%;
    font-family: monospace;
    text-decoration: none;
}
ul{
    list-style-type:  square;
    color: #800000;
}

.li_aside{
    text-align:justify;
    margin: 1%;
    font-size: 130%;
    font-family: monospace;
}

.a_aside{
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    background: #A52A2A;
    padding-top: 0.1%;
    padding-bottom: 1%;
    clear: both;

}

footer figure{
    float: left;
}

footer p{
    color: white;
    padding: 1%;
    font-size: 100%;
    font-family: monospace;
    text-align: center;
}
