/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-nov-2017, 11:08:56
    Author     : susana
*/

body{
    background-color: antiquewhite;
}
h1{
    color:brown;
}
#par{
    color:brown;
}
#impar{
    color:blue;
}